@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'vazir-FD';
  src: url('../../public/fonts/Vazir-FD-WOL.woff') format('woff');
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 20%);
  --primary: hsl(217.14 91.3% 59.41%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 96.08%);
  --secondary-foreground: hsl(215.56 15.25% 34.71%);
  --muted: hsl(0 0% 97.25%);
  --muted-foreground: hsl(220 7.69% 45.88%);
  --accent: hsl(202.29 100% 93.14%);
  --accent-foreground: hsl(224.59 64.5% 33.14%);
  --destructive: hsl(0 86.07% 60.59%);
  --destructive-foreground: hsl(0 0% 100%);
  --success: hsl(142.1 76.2% 36.3%);
  --success-foreground: hsl(0 0% 100%);
  --border: hsl(218.18 25.58% 91.57%);
  --input: hsl(218.18 25.58% 91.57%);
  --ring: hsl(217.14 91.3% 59.41%);
  /* --chart-1: hsl(217.14 91.3% 59.41%);
  --chart-2: hsl(221.38 86.38% 53.92%);
  --chart-3: hsl(224.44 76.52% 48.43%);
  --chart-4: hsl(225.83 71.29% 39.61%);
  --chart-5: hsl(224.59 64.5% 33.14%); */

  /* --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%); */

  --chart-1: hsl(221.2 83.2% 53.3%);
  --chart-2: hsl(212 95% 68%);
  --chart-3: hsl(216 92% 60%);
  --chart-4: hsl(210 98% 78%);
  --chart-5: hsl(212 97% 87%);

  --sidebar: hsl(0 0% 97.25%);
  --sidebar-foreground: hsl(0 0% 20%);
  --sidebar-primary: hsl(217.14 91.3% 59.41%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(202.29 100% 93.14%);
  --sidebar-accent-foreground: hsl(224.59 64.5% 33.14%);
  --sidebar-border: hsl(218.18 25.58% 91.57%);
  --sidebar-ring: hsl(217.14 91.3% 59.41%);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-vazir: 'Vazirmatn', sans-serif;
  --font-vazir-fd: 'vazir-FD', sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(220.71 48.28% 11.37%);
  --foreground: hsl(218.18 25.58% 91.57%);
  --card: hsl(217.5 35.56% 17.65%);
  --card-foreground: hsl(218.18 25.58% 91.57%);
  --popover: hsl(217.5 35.56% 17.65%);
  --popover-foreground: hsl(218.18 25.58% 91.57%);
  --primary: hsl(234.5 90.91% 74.12%);
  --primary-foreground: hsl(220.71 48.28% 11.37%);
  --secondary: hsl(218.4 21.01% 23.33%);
  --secondary-foreground: hsl(218.18 13.25% 83.73%);
  --muted: hsl(217.5 35.56% 17.65%);
  --muted-foreground: hsl(217.89 10.5% 64.51%);
  --accent: hsl(216.92 19.4% 26.27%);
  --accent-foreground: hsl(218.18 13.25% 83.73%);
  --destructive: hsl(0 86.07% 60.59%);
  --destructive-foreground: hsl(220.71 48.28% 11.37%);
  --success: hsl(142.1 76.2% 36.3%);
  --success-foreground: hsl(220.71 48.28% 11.37%);
  --border: hsl(215.56 15.25% 34.71%);
  --input: hsl(215.56 15.25% 34.71%);
  --ring: hsl(234.5 90.91% 74.12%);
  --chart-1: hsl(234.5 90.91% 74.12%);
  --chart-2: hsl(238.29 82.35% 66.67%);
  --chart-3: hsl(243.4 75.36% 58.63%);
  --chart-4: hsl(243.8 56.8% 50.98%);
  --chart-5: hsl(243.59 54.93% 41.76%);
  /* --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%); */
  /* --chart-1: hsl(221.2 83.2% 53.3%);
  --chart-2: hsl(212 95% 68%);
  --chart-3: hsl(216 92% 60%);
  --chart-4: hsl(210 98% 78%);
  --chart-5: hsl(212 97% 87%); */

  --sidebar: hsl(217.5 35.56% 17.65%);
  --sidebar-foreground: hsl(218.18 25.58% 91.57%);
  --sidebar-primary: hsl(234.5 90.91% 74.12%);
  --sidebar-primary-foreground: hsl(220.71 48.28% 11.37%);
  --sidebar-accent: hsl(216.92 19.4% 26.27%);
  --sidebar-accent-foreground: hsl(218.18 13.25% 83.73%);
  --sidebar-border: hsl(215.56 15.25% 34.71%);
  --sidebar-ring: hsl(234.5 90.91% 74.12%);
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-vazir: 'Vazirmatn', sans-serif;
  --font-vazir-fd: 'vazir-FD', sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--color-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-vazir: var(--font-vazir);
  --font-vazir-fd: var(--font-vazir-fd);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border select-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-fix {
    @apply overflow-x-hidden overflow-y-auto text-right;
    direction: ltr;
  }

  .scrollbar-fix > * {
    direction: rtl;
  }

  .scrollbar-fix::-webkit-scrollbar {
    @apply w-[3px] bg-transparent;
  }

  .scrollbar-fix::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  .scrollbar-fix:hover::-webkit-scrollbar {
    @apply w-[3px] bg-gray-200;
  }

  .scrollbar-fix:hover::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-600;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* In your CSS file (e.g., sidebar.css) */
.sidebar-menu-item-active {
  position: relative;
  color: hsl(var(--sidebar-accent-foreground));
}

.sidebar-menu-item-active::after {
  content: '';
  position: absolute;
  right: -12px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  /* background-color: hsl(var(--sidebar-accent-foreground)); */
  background-color: red;
}

/* ================ smooth transition for collapsible content ================ */
.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.cardbg {
  @apply text-card-foreground bg-red-400;
  position: relative;
}
.cardbg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-card);
  opacity: 0.1;
}

.apexcharts-tooltip {
  @apply text-primary bg-primary;
}
.apexcharts-menu.apexcharts-menu-open {
  @apply bg-card/50 rounded-md border opacity-10 shadow-sm backdrop-blur-xs;
}

.apexcharts-menu.apexcharts-menu-open .apexcharts-menu-item:hover {
  @apply hover:bg-sidebar-accent;
}
